* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  background: #ffffff;
}

header {
  width: 100%;
}

.navbar {
  width: 1920px;
  border: 1px solid;
  height: 91px;
  background: #ffffff;
  position: fixed;
  z-index: 9999;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.left-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

li {
  list-style: none;
}

.left-navbar-list {
  width: 672px;
}

.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  font-weight: bold;
  width: 139px;
  height: 42px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  font-weight: lighter;
}

.btn.btn1,
.btn.btn2 {
  color: #fff;
  background: #00a82d;
}

.hero-section {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  position: relative;
  font-weight: lighter;
}

.hero-section .hero-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.hero-section h2 {
  width: 471px;
  height: 91px;
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: 3px;
}

.hero-section span {
  color: #00a82d;
}

.hero-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.hero-section .btn2 {
  width: 320px;
  height: 60px;
}

a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.slide-section {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-section {
  width: 100%;
  height: 50vh;
}

.services-section .cards {
  position: relative;
  top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.services-section .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  width: 164px;
}

.services-section .cards .card h3 {
  width: 113px;
  height: 68px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.services-section .cards .card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.services-section .cards .card img {
  width: 54px;
  height: 54px;
}

.what-new-section {
  width: 82%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  background: no-repeat center url("./images/ZoP1Rx5LeNNTwtbJ_BlogPost_horizontal-white_v01.jpg");
}

.what-new-section .what-new-section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.what-new-section .what-new-section-text h1 {
  font-size: 64px;
  width: 30%;
  line-height: 1.2;
}

.what-new-section .what-new-section-text p {
  width: 20%;
  line-height: 1.2;
  font-size: 16px;
}

.work-section {
  background: #f9f6f2;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-section .work-card {
  gap: 100px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-section .work-card .information h1 {
  font-size: 64px;
  width: 50%;
  line-height: 1.2;
}

.work-section .work-card .information p {
  width: 40%;
  line-height: 1.2;
  font-size: 16px;
}

.free-section {
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  height: 60vh;
  background: #005D13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.free-section h1 {
  width: 30%;
  text-align: center;
  font-size: 64px;
}

.free-section p {
  width: 40%;
  line-height: 1.3;
  text-align: center;
  font-size: 24px;
}

.free-section .btn.btn2 {
  background: #ffffff;
  color: #000000;
  width: 320px;
  height: 60px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.footer .footer-bar {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-bar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.footer .footer-bar .logo img {
  width: 40px;
  height: 40px;
}

.footer .footer-bar .left-footer-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.footer .footer-bar .left-footer-bar .left-footer-bar-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer .footer-bar .left-footer-bar .left-footer-bar-select label {
  font-size: 16px;
}

.footer .footer-bar .left-footer-bar .left-footer-bar-select select {
  width: 90px;
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
}

.nav-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  position: relative;
  top: 50px;
  gap: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menus .nav-menus-lists {
  width: 100%;
}

.nav-menus .nav-menus-lists ul li {
  font-size: 16px;
  line-height: 2;
}
/*# sourceMappingURL=style.css.map */